<div class="container">
  <div class="row">
    <nav class="navbar">
      <div class="navbar-brand">Abhishek Suryawanshi</div>
  
      <ul class="nav">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark">
          <a href="#" class="nav-link" routerLink="Profile">PROFILE</a></button>
        </li>
        
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark">
          <a href="#" class="nav-link" routerLink="Projects">PROJECTS</a></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark">
          <a href="#" class="nav-link" routerLink="Album">ALBUM</a></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark">
          <a href="#" class="nav-link" routerLink="">Link2</a></button>
        </li>
      </ul>

    </nav>
  </div>
</div>

