.navbar-brand{
    color: white;
    margin-top: 30px;
    font-size: x-large;
}

.nav{
    margin-top: 30px;
}
.btn
{
    width: fit-content;
    height: 40px;
    margin: 5px;
    border:  1px solid black;
    background-color: rgba(0, 92, 92, 0.6);
}
.btn:hover
{
    opacity: 0.4;
}
.nav-link
{
    margin: 0;
    padding: 0;
    color: rgb(231, 219, 203);
}