

<div class="container">
    <div class="row">
       <div class="column"><img id="myImg" src="assets/skills/c.png" alt="logo" style="width: 100%" ></div>
       <div class="column"><img id="myImg" src="assets/skills/cpp.png" alt="logo" style="width: 100%"></div>
       <div class="column"><img id="myImg" src="assets/skills/angular.png" alt="logo" style="width: 100%" ></div>
    </div>
    <div class="row">
        <div class="column"><img id="myImg" src="assets/skills/git.png" alt="logo" style="width: 100%" ></div>
        <div class="column"><img id="myImg" src="assets/skills/pi.png" alt="logo" style="width: 100%"></div>
        <div class="column"><img id="myImg" src="assets/skills/gimp.png" alt="logo" style="width: 100%" ></div>
     </div>
     <div class="row">
        <div class="column"><img id="myImg" src="assets/skills/arduino.png" alt="logo" style="width: 20%" ></div>
     </div>

</div>

   