/* You can add global styles to this file, and also import other style files */
.b-img {
    height:100%;
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("https://abhisuryacoding.github.io/ProfileWebsite/assets/cover2.jpg");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
   /* background-repeat: repeat; */
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    background-color: rgb(6, 14, 20);          /* Footer height */
    text-align: center;
    padding-top: 5px;
    color: wheat;
    opacity: 80%;

  }